---
import Layout from "../layouts/Layout.astro";
import RainbowImage from "../components/RainbowImage.astro";
import RainbowText from "../components/RainbowText.astro";
import List from "../components/List.astro";
import Social from "../components/Social.astro";
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";

const title = "Hari Krishnan : Flutter Firebase Freelance Developer";
---

<Layout overflow title={title}>
    <canvas
        id="myCanvas"
        width="1000"
        height="1000"
        style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; pointer-events:none"
    >
        Your browser does not support the HTML5 canvas tag.</canvas
    >
    <div id="spaceshark" class="gif">
        <RainbowImage
            src={"url('/images/SpaceShark512.webp')"}
            size={"300px"}
        />
    </div>

    <h1 id="name"><RainbowText>Hari Krishnan</RainbowText></h1>

    <small>Digital Craftsman (Developer)</small>
    <h2 id="about">About</h2>
    <p>
        Expert <RainbowText>
            <strong>Flutter Firebase Freelance Developer</strong>
        </RainbowText> : Building Stunning Cross-Platform Apps
    </p>

    <p class="areyousearching">
        Are you in search of a skilled Flutter freelance developer who can
        transform your app ideas into reality? Look no further! I'm your
        dedicated Flutter specialist, committed to crafting exceptional
        cross-platform mobile applications that not only meet your requirements
        but consistently exceed your expectations. With a proven track record of
        delivering outstanding Flutter projects, I bring a wealth of experience
        and expertise to turn your app vision into a tangible success story.
    </p>

    <p>
        Welcome to the realm of premier Flutter app development expertise. As
        your dedicated Flutter freelance developer, I specialize in creating
        high-performance cross-platform mobile applications for both Android and
        iOS. Backed by a track record of excellence, I possess the skills and
        experience necessary to bring your app ideas to life. Explore my
        cross-platform prowess, captivating user interfaces, rapid development
        capabilities, and dedication to providing cost-effective solutions that
        ensure your project's success. Let's collaborate to make your app vision
        a reality like never before.
    </p>
    <h2 id="Why Us">Why Us</h2>
    <List title="Cross-Platform Expertise">
        <p>
            Flutter allows me to build apps that work seamlessly on both Android
            and iOS, saving you time and money compared to developing separate
            apps.
        </p>
    </List>
    <List title="Beautiful User Interfaces">
        <p>
            Flutter's widgets and design capabilities enable me to create
            stunning and user-friendly interfaces that captivate your audience.
        </p>
    </List>
    <List title="Fast Development">
        <p>
            With Flutter's hot reload feature, I can make changes in real-time,
            reducing development time and costs.
        </p>
    </List>
    <List title="Cost-Effective Solutions">
        <p>
            We follow lean development principles to eliminate waste, optimize
            resources, and maximize efficiency. This means you get more value
            from every development hour.
        </p>
    </List>
    <List
        title="Affordable Rates, Transparent Pricing, Flexible Engagement Models"
    >
        <p>
            Our flexible engagement models allow you to choose the pricing
            structure that suits your project best, whether it's hourly rates,
            fixed pricing, or a retainer-based arrangement.
        </p>
    </List>
    <List title="Collaborative Approach">
        <p>
            We work closely with you throughout the development process, valuing
            your feedback and insights.
        </p>
    </List>
    <List title="Timely Delivery">
        <p>
            We are committed to delivering your Flutter app on time, without
            compromising quality.
        </p>
    </List>
    <List title="Figma to Flutter Code Conversion">
        <p>
            We take your Figma design files and meticulously convert them into
            clean, efficient, and maintainable Flutter code. This includes
            creating widgets, layouts, and incorporating design assets.
        </p>
    </List>
    <List title="Responsive UI Implementation">
        <p>
            Our expertise extends to ensuring that your Flutter app's user
            interface (UI) is responsive, providing a seamless experience on
            various screen sizes and orientations.
        </p>
    </List>
    <List title="Testing and Quality Assurance">
        <p>
            We rigorously test the Flutter app to identify and resolve any
            issues, ensuring a bug-free and stable end product.
        </p>
    </List>
    <List title="Optimization for Performance">
        <p>
            We optimize your app for performance, ensuring fast load times and
            smooth interactions.
        </p>
    </List>
    <List title="Open Source">
        <p>
            We leverage open-source tools and libraries whenever possible to
            reduce licensing costs and enhance project scalability.
        </p>
    </List>
    <h2 id="Why Firebase">Why Firebase</h2>
    <List title="Firebase Authentication">
        <p>For secure user management.</p>
    </List>
    <List title="Real-Time Data Solutions">
        <p>Firebase Cloud Firestore for real-time data synchronization.</p>
    </List>
    <List title="Scalability and Security">
        <p>
            Firebase Rules and Cloud Functions. Our solutions are designed with
            scalability in mind, allowing your app to grow without incurring
            significant additional costs.
        </p>
    </List>
    <List title="Cloud Function">
        <p>Simplified developer experience and increased developer velocity</p>
        <p>Pay only for what you use</p>
        <p>Integration with third-party services and APIs</p>
        <p>Serverless mobile back ends</p>
        <p>Real-time file processing</p>
        <p>Real-time stream processing</p>
        <p>Virtual assistants and conversational experiences</p>
        <p>Video and image analysis</p>
        <p>Sentiment analysis</p>
        <p>No server management</p>
    </List>

    <h2 id="Skills">Skills</h2>
    <CardGrid gridCount={4} cardSize="60px">
        <Card
            href="https://flutter.dev"
            src="/logos/flutter.svg"
            title="Flutter"
        />
        <Card
            href="https://firebase.google.com"
            src="/logos/firebase.svg"
            title="Firebase"
        />
        <Card
            href="https://developer.apple.com"
            src="/logos/apple.svg"
            title="iOS"
        />
        <Card
            href="https://developer.android.com"
            src="/logos/android.svg"
            title="Android"
        />
        <Card href="https://go.dev" src="/logos/golang.svg" title="Golang" />
        <Card
            href="https://www.typescriptlang.org"
            src="/logos/typescript.svg"
            title="Typescript"
        />
        <Card
            href="https://www.figma.com"
            src="/logos/figma.svg"
            title="Figma"
        />
    </CardGrid>

    <Social />

    <h2 id="Interests">Interests</h2>
    <p>Mobile App Development</p>
    <p>Cloud Development (Gcp)</p>
    <p>Machine Learning</p>
</Layout>

<style>
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-weight: 600;
        padding: 0.3rem 0.6rem 0.2rem;
    }

    #spaceshark,
    h1,
    small {
        align-self: center;
        animation: MoveUpDown 4s ease infinite;
    }

    .areyousearching {
        background-color: #5b2065;
    }
    html.light .areyousearching {
        background-color: #fceaff;
    }

    @keyframes MoveUpDown {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    .tinyspaceshark {
        position: fixed;
        bottom: 2%;
        right: 2%;

        /* animation: SharkAlign 1s ease; */
    }

    .tinyspaceshark img {
        width: 150px;
        height: 150px;
    }

    /* @keyframes SharkAlign {
        from {
            left: 50px;
        }
        to {
            left: 20px;
        }
    } */
</style>

<!-- <script>
    let c = document.getElementById("myCanvas") as HTMLCanvasElement;
    c.width = window.innerWidth;
    c.height = window.innerHeight;

    let ctx = c.getContext("2d") as CanvasRenderingContext2D;
    let id: any;
    let x_off: number;
    let y_off: number;

    let min_dist = 0;
    let max_dist = 32;
    let d = 150;

    let Point = {
        x: 0,
        y: 0,
    };

    let elements: any[] = [];

    function project2d(point: any, dist: number) {
        var p = Object.create(Point);
        p.x = Math.round((d * point.x) / dist);
        p.y = Math.round((d * point.y) / dist);
        return p;
    }

    var StarElement = {
        p1: null,
        width: 3,
        dist: 0,

        draw: function () {
            var p2 = project2d(this.p1, this.dist);

            if (
                p2.x + x_off <= 0 ||
                p2.x + x_off > c.width ||
                p2.y + y_off <= 0 ||
                p2.y + y_off > c.height
            ) {
                this.dist = max_dist;
            } else {
                var percent = 1 - this.dist / max_dist;

                ctx.beginPath();
                ctx.strokeStyle = "hsl(60,100%," + percent * 100 + "%)";

                this.width = percent * 3;
                ctx.rect(p2.x + x_off, p2.y + y_off, this.width, this.width);

                // let img = document.createElement("IMG", {});
                // img.setAttribute("src", "SpaceShark512.webp");

                // ctx.drawImage(
                //     img as HTMLCanvasElement,
                //     p2.x + x_off,
                //     p2.y + y_off,
                //     200,
                //     200,
                // );

                ctx.stroke();
                ctx.closePath();
            }
        },
    };

    function createElements() {
        for (var i = 0; i < (c.width * c.height) / 15000; i++) {
            var elem = Object.create(StarElement);
            elem.p1 = Object.create(Point);
            elem.p1.x = randomRange(-50, 50);
            elem.p1.y = randomRange(-50, 50);
            elem.dist = randomRange(0, max_dist);
            elements.push(elem);
        }
    }

    const speed = 0.1;
    function update() {
        ctx.clearRect(0, 0, c.width, c.height);

        elements.forEach(function (elem, i, arr) {
            elem.dist = elem.dist - speed;
            elem.draw();
        });
    }

    function restart() {
        ctx.strokeStyle = "hsl(50,100%,80%)";
        ctx.clearRect(0, 0, c.width, c.height);
        ctx.lineWidth = 2;
        ctx.moveTo(0, 0);

        x_off = c.width / 2;
        y_off = c.height / 2;

        elements = [];
        createElements();
        id = setInterval(update, 100);
    }

    restart();

    window.onresize = function () {
        const w = this as Window;
        c.width = w.innerWidth;
        c.height = w.innerHeight;

        clearInterval(id);
        restart();
    };

    window.onscroll = function () {
        const w = this as Window;
        if (w.innerWidth < 800) return;
        let scroll = w.scrollY;
        let o = 10;
        let t = scroll - o;
        let g = 280;
        let range = scroll > o + g ? 1 : scroll < o ? 0 : t / 340;
        let spaceshark = document.getElementById("spaceshark");
        if (range > 0) {
            let img = spaceshark?.children[0] as HTMLCanvasElement;
            if (img) {
                img.style.setProperty("--size", 300 - range * 150 + "px");
                img.width = 300 - range * 150;
                img.height = 300 - range * 150;
            }
            if (range >= 1) {
                spaceshark?.classList.add("tinyspaceshark");
            }
        } else {
            document
                .getElementById("spaceshark")
                ?.classList.remove("tinyspaceshark");
        }
    };

    function randomRange(minVal: number, maxVal: number) {
        return Math.floor(Math.random() * (maxVal - minVal - 1)) + minVal;
    }
</script> -->
