---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Works";
---

<Layout title={pageTitle}>
    <h2>Contributions</h2>
    <CardGrid gridCount={1}>
        <Card
            href="https://github.com/"
            src="/images/space.png"
            title="Open-source 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </CardGrid>
    <h2>Projects</h2>
    <CardGrid gridCount={2} cardSize="100%">
        <Card
            href="https://github.com/"
            src="/images/space.png"
            title="Project 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            src="/images/space.png"
            title="Project 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            src="/images/space.png"
            title="Project 3"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            href="https://github.com/"
            src="/images/space.png"
            title="Project 4"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </CardGrid>
</Layout>
