---
interface Props {
    title: string;
    src: string;
    href: string;
}

const { title: title, src: src, href: href } = Astro.props;
---

<a title={title} href={href}>
    <img alt={title} src={src} />
</a>

<style>
    img {
        width: 100%;
        height: 100%;
        padding: 4px;
    }

    a :hover {
        background-color: rgba(203, 203, 203, 0.249);
        border-radius: 10px;
    }
</style>
