---
interface Props {
    size: string;
    src: string;
}

const { size: size, src: src } = Astro.props;
---

<div class="raincon">
    <div class="rainbow_grad">
        <slot />
    </div>
</div>

<style define:vars={{ size, src }}>
    .raincon {
        background-image: var(--src);

        -webkit-mask-image: var(--src);
        -webkit-mask-size: cover;
        background-size: var(--size);
        width: var(--size);
        height: var(--size);
        display: inline-block;
    }

    .rainbow_grad {
        background-image: linear-gradient(
            -45deg,
            #ee76526e,
            #e73c7e9a,
            #e1e73c9a,
            #23a5d59a,
            #23d5ab9a
        );
        background-size: 400%;
        background-repeat: no-repeat;

        animation: gradient 5s ease infinite;
        width: inherit;
        height: inherit;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
