---

---

<span class="rainbow"><slot /></span>

<style>
    .rainbow {
        background: linear-gradient(
            to right,
            blueviolet,
            lawngreen,
            red,
            yellow,
            deepskyblue
        );
        -webkit-background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%;
    }

    @keyframes rainbow_animation {
        0%,
        100% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }
    }
</style>
